.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1a1b1d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.clear-card {
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.104);
  background-image: linear-gradient(225deg, rgba(134, 134, 134, 0.286), rgba(37, 37, 37, 0.326));
  border-radius: 10px;
  padding: 20px;
}

.resize{
  width: 50%;
}

